In [ ]:
import pandas as pd

class DataFrameAnalyzer: ### Constructer
    def __init__(self, data_frame):
        self.data_frame = data_frame

    def summary_statistics(self): #method
        return self.data_frame.describe()

    def column_mean(self, column_name): #method
        return self.data_frame[column_name].mean()

    def column_median(self, column_name): #method
        return self.data_frame[column_name].median()

    def unique_values(self, column_name): #method
        return self.data_frame[column_name].unique()

In [ ]:
# Example usage:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 35],
    'Salary': [50000, 60000, 45000, 70000]
} ### Object

df = pd.DataFrame(data)
analyzer = DataFrameAnalyzer(df)

print("Summary Statistics:")
print(analyzer.summary_statistics())

print("\nMean Age:", analyzer.column_mean('Age'))
print("Median Salary:", analyzer.column_median('Salary'))

print("\nUnique Names:", analyzer.unique_values('Name'))

Summary Statistics:
             Age        Salary
count   4.000000      4.000000
mean   28.000000  56250.000000
std     5.715476  11086.778913
min    22.000000  45000.000000
25%    24.250000  48750.000000
50%    27.500000  55000.000000
75%    31.250000  62500.000000
max    35.000000  70000.000000

Mean Age: 28.0
Median Salary: 55000.0

Unique Names: ['Alice' 'Bob' 'Charlie' 'David']